@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --gunmetal: #2d3142;
  --payne-grey: #4f5d75;
  --silver: #bfc0c0;
  --coral: #ef8354;
  --off-white: rgb(250, 250, 250);
}

*{
    padding: 0;
    margin: 0;
    font-family: "Kanit"
}


.all-content{
  overflow-x: hidden;
}
.help-full-screen{
 display: none;
}

html{
  background-color: rgb(19, 18, 18);
  
}



.win-full-screen.active::before{
  background-color: rgba(0, 0, 0,0.2);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  content: "";

}

.cell{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notes-container{
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  font-size: 15px;
  width: 100%;
  height: 100%;
  padding: 3px;
  box-sizing: border-box;
  justify-items: center;
  align-items: center;
  z-index: 3;
}


.candidates-container.active{
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  font-size: 15px;
  width: 100%;
  height: 100%;
  padding: 3px;
  box-sizing: border-box;
  justify-items: center;
  align-items: center;
  z-index: 3;

}


.candidates-container{
  display: none;
}


.notes-container.inactive{
  display: none;
}




.note, .candidate{
  color: transparent;
  transition: color 0.15s ease-in-out;
}

.note.inactive:hover, .candidate.inactive:hover{
  color: grey;
  cursor: pointer;
}



.note.active, .candidate.active{
  color: var(--gunmetal);
  cursor: pointer;
  transition: none;
  z-index: 3;
}


.cell:not(.selected) .note, .cell:not(.selected) .candidate{
  pointer-events: none;
}

.cell.selected .note, .cell.selected .candidate{
  pointer-events: auto;
}

.cell.guessed .note, .cell.guessed .candidate{
  display: none;
}

.cell.confirmed .candidate {
  display: none;
}

.rejected::after{
  content:"";
  z-index: 9;
  position:absolute;
  border-top:1.5px solid red;
  width:142%;
  transform: rotate(45deg);
}

.cell.confirmed .input-field{
  color: #2d7aa0;
}

.cell.confirmed .note{
  display: none;
}

.win-full-screen{
  display: none;

}

.win-full-screen.active{
  display: block;
  z-index: 3;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.win-screen-text{
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;

}

.number-candidate-container{
  display: flex;
  height: 45px;
  justify-content: space-between;
  border: 1px solid white;
}

.num-cand{
  color: white;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
justify-content: center;
}


.num-cand.active{
  background-color: white;
  color: black;

}
.win-screen-container{
/* From https://css.glass */
color: black;
background: white;
border-radius: 8px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

-webkit-backdrop-filter: blur(5px);
  height: 350px;
  width: 550px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 3;
  box-sizing: border-box;
  
 
}

#close-win-box{
  cursor: pointer;
  font-size: 22px;
  align-self: flex-end;


}

.help-full-screen.active{
  display: block;
  z-index: 3;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

#close-help-box{
  align-self: flex-end;
  cursor: pointer;
  font-size: 22px;

}



.help-box-container{
  height: 500px;
  width: 500px;
  color: black;
  background-color: white;
  z-index: 3;

  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  gap: 17.5px;
 
}

.play-rules{
  height: 100%;
  display: flex;
  flex-direction: column;
}



.rules-list, .modes-list{
  list-style: none;
  height: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}


.modes-list li p{
  font-size: 12px;
}
.mode-rules{
  height: 100%;
  display: flex;
  flex-direction: column;
}



.help-full-screen.active::before{
  background-color: rgba(0, 0, 0,0.2);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  content: "";

}



header{
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.01);
 

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.header h1{
  font-weight: 800;
  font-size: 30px;
  font-family: "Kanit";
  color:#ffffff;
  text-shadow: -0.08em 0 #2eaebc; /* This creates the 3D effect, pretty easy, eh? */
  letter-spacing: 0.1em; 
  /* text-shadow: 
  0 0 6px rgba(0, 0, 255, 0.5), 
  0 0 8px rgba(0, 0, 255, 0.5), 
  0 0 12px rgba(0, 0, 255, 0.5); */
}

.top-mode-bar{
  height: 43px;
  padding: 0 29px;


}

.top-modes{
  display: flex;
  align-items: center;
  height: 100%;

  list-style: none;
  width: 350px;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  color: var(--off-white);
  
}

.top-modes li{
  cursor: pointer;
  width: max-content;
  box-shadow: 0px 0px 0px -3px #2eaebc; 

  padding: 6px 20px;
  position: relative;
 

  background:
  linear-gradient(to right,  #2eaebc 2.5px, transparent 2.5px) 0 0,
  linear-gradient(to right,  #2eaebc 2.5px, transparent 2.5px) 0 100%,
  linear-gradient(to left, #2eaebc 2.5px, transparent 2.5px) 100% 0,
  linear-gradient(to left,  #2eaebc 2.5px, transparent 2.5px) 100% 100%,
  linear-gradient(to bottom, #2eaebc 2.5px, transparent 2.5px) 0 0,
  linear-gradient(to bottom,  #2eaebc 2.5px, transparent 2.5px) 100% 0,
  linear-gradient(to top, #2eaebc 2.5px, transparent 2.5px) 0 100%,
  linear-gradient(to top,  #2eaebc 2.5px, transparent 2.5px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 18px 9px;
  font-weight: 500;
  font-family: "Kanit";
  z-index: 2;
}


.top-modes li a{
  text-decoration: none;
  color: var(--off-white);
}






.left-controls{
  gap: 10px;
  display: flex;
  width: 260px;
}

.left-controls button{
  font-size: 18px;
  font-weight: 400;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--off-white)

}

.sudoku-container{
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  position: relative;
  z-index: 1;
}

.pause-screen{
  display: none;
}
.pause-screen.active{
  height: 100%;
  width: 100%;
  display: block;
  z-index: 5;
  position: absolute;
  display: flex;

  justify-content: center;
  align-items: center;

  /* From https://css.glass */
background: rgba(255, 255, 255, 0.1);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
}

.pause-inner-container{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  background-color: white;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 3px;
  box-shadow: 0px 0px 20px 2px #2eaebc;

}

.pause-screen button{
  width: 60px;
  height: 45px;
  padding: 0px 80px;
  border-radius: 30px;
  border: none;
  background-color: #2eaebc;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: white;
  font-size: 16px;
}

.pause-screen p{
  font-weight: 500;
}



.mode-options{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;

}

.mode-options li{
  border: 1px solid black;
  height: 40px;
  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 600;
  border-radius: 2px;

}



.board-wrapper{
  height: 770px;
  padding: 35px 99px 20px 99px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-display{
  width: 100%;
  height: 42px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 18px;
  position: relative;
  z-index: 3;

  border-radius: 2.5px;

  box-shadow: 0 0 0.1em 0.05em  #2eaebc; 
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);


}



.top-display-inner{
  height: 100%;
  width: 100%;
  font-family: "Kanit";
  justify-content: space-between;
  display: flex;

  align-items: center;
  padding: 5px 8px;
  box-sizing: border-box;
  color: var(--off-white)
}


.left-controls button{
  font-family: "Kanit";

}



#pause-btn{
  cursor: pointer;
  height: max-content;
  width: 15.5px;
  color: var(--off-white);


}
.timer-container{
  width: max-content;  

  

}

.timer-controls-container{
  display: flex;
  gap: 9px;

  width: 100%;


  justify-content: center;
  align-items: center;
  font-family: "Kanit";

}

.right-controls{
  display: flex;
  list-style: none;
  gap: 14px;
  align-items: center;
  justify-content: right;
  position: relative;
  width: 132px;

 


}



#display{
  font-family: "Kanit";
  font-size: 18px;

}

.right-controls i{
  width: max-content;
  cursor: pointer;
  font-size: 18px;
  position: relative;
}

.right-container{
  height: 707px;

  width: 300px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.hints-container{
  height: 50px;
  box-sizing: border-box;

}


.hint-options{
  display: flex;
  height: 100%;
  font-size: 15px;
  list-style: none;
  justify-content: space-between;
  align-items: center;


}

.hint-options li{
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.hint-options li button{

  height: 50px;
  width: 70px;
  padding: 0 2px;
  font-size: 15px;
  font-family: "Kanit";
  font-weight:400;
  border-radius: 2.5px;
  border: none;
  cursor: pointer;
  color: var(--off-white);
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);


}

.settings-menu{
  display: none;
}

.settings-menu.active{
  display: block;
  z-index: 3;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.settings-menu.active::before{
  background-color: rgba(0, 0, 0,0.2);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  content: "";
}

#close-settings-box{
  cursor: pointer;
  font-size: 22px;
  align-self: flex-end;
  z-index: 3;
}

.settings-box-container{
  height: max-content;
  width: 500px;
  color: black;
  background: white;
 border-radius: 3px;

z-index: 2;
padding: 10px;
box-sizing: border-box;
display: flex;
flex-direction: column;
}

.settings-choice-container{
  height: 100%;
}

.settings-choice-container ul{
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.settings-choice-container li{
  list-style: none;

}

.setting-flex{
  display: flex;
  align-items: center;
  gap: 8px;
}

.setting-flex input{
  cursor: pointer;
}


#settings-btn{
  transition: 0.3s ease-in;
}

#settings-btn.active {
  transform: rotate(360deg);
}

.control-panel{
  height: 355px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.number-select-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.num-sel {
  display: flex;
  flex: 1 1 calc(33.333% - 20px);
  justify-content: center;
  align-items: center; 
  
  
}

.num-sel button {
  padding: 15px 30px;
  width: 80px;
  border: none;
  font-size: 30px;
  cursor: pointer;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2.5px;
  font-size: 35px;
  color: var(--off-white);
}

.control-panel h1{
  font-size: 20px;
  font-weight: 600;
}

.last-move-container{
  height: 50px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  padding: 0 16px;
  align-items: center;
  color: var(--off-white)
  
  
}

.last-num, .last-cell{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.last-move-container h1{
  font-size: 18px;
  font-weight: 600;
}

.last-move-container h3{
  font-size: 16px;
  font-weight: 500;
}

.last-move-container p.removed{
  text-decoration: line-through;
  text-decoration-thickness: 1.4px;
}


.control-adjust{
  background-color: rgba(255, 255, 255, 0.05);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  box-sizing: border-box;

}

.left-adjust{
  display: flex;

  justify-content: space-between;
}

#remove-btn{
  width: 175px;
  height: 55px;
  border: none;
  flex: 1 1 100%;
  display: flex;
  padding: 2.5px 0;
  justify-content: center;
  align-items: center;
  background: none;
 box-shadow: 1px 1px 3px -1px #2eaebc;
 background-color:rgba(0, 0, 0, 0.3);
  border-radius: 2.5px;
  color: var(--off-white);
  cursor: pointer;
}

#remove-btn i{
  font-size: 20px;
}

#chaos-btn.active{
  color: #2eaebc;
}
#chaos-btn.issue{
  color: red;
}

#chaos-btn{
  font-size: 19px;
  color: white;
  transition: color 0.3s ease-in-out;

}
.candidate-container{
  display: flex;
  align-items: center;
  gap: 8px;
 
}

.candidate-container p{
  font-size: 12px;
}

#candidate-btn{
  width: 11px;
  cursor: pointer;

}


.left-adjust p{
  font-size: 12.5px;
  font-weight: 400;
}

.undo-container{
  display: flex;
  gap: 7px;
  align-items: center;
  width: 80px;

}

.undo-container p{
  font-size: 16px;
  font-weight: 400;
  color: var(--off-white)
}

#undo-btn i{
  font-size: 16px;
}




#undo-btn{
  width: max-content;
  background-color:rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  color: var(--off-white);
  cursor: pointer;
}


.cell.selected::before{
  background-color: rgba(46, 174, 188, 0.386); 
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  z-index: -1;
}



.cell.pre-filled{
  background-color: rgb(170, 170, 170);
}






.candidate-container{
  font-size: 16px;
  color: var(--off-white);

}



.fa-pause{
  font-size: 20px;
}
.fa-play{
  font-size: 15.5px;

}

#display{
  font-weight: 500;
}

#sudoku-board{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    font-family: "Inter";
    font-weight: 700;
    font-size: 50px;
    width: 650px;
    height: max-content;
    z-index: 1;
    position: relative;
    background-color: var(--off-white);
    transition: transform 0.5s ease; 

}



.right-adjust button{
  width: 72px;
  border: none;
  font-size: 18px;
  padding: 1px;
  cursor: pointer;
  background: var(--coral);
  color: var(--gunmetal);

}


.outer-container{
  display: flex;
  position: relative; 
  z-index: 1;
  width: 1000px;
  min-width: 120vh;
  justify-content: space-between;
  align-items: center;
}

.cell {
    height: 70px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
    position: relative;
    z-index: 1;
  }

  .cell:nth-child(3n):not(:nth-child(9)) {
      border-bottom: 2px solid black;
  }

  .col-3, .col-6 {
    border-right: 1px solid black;
  }

  



  .cell-input{
    position: absolute;
    text-align: center;
   
    border: none;
    
    
    height: 100%;
    width: 100%;
    padding-bottom: 0.6px;
    box-sizing: border-box;
    user-select: none;

 
  }
  .actual-value{
    position: absolute;
    display: flex;

 


  }

  .cell-input{
    font-size: 39.9px;
    font-weight: 685;
  }

  .cell-input:focus{
    outline: none;
  }


.chaos-container{
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  background-color: white;

  border-radius: 2px;
  box-sizing: border-box;

}


.chaos-options{
  list-style: none;
  width: 100%;
  color: black;
  box-sizing: border-box;
  display: flex;
  gap: 1px;
  border-radius: 3px;

}


.chaos-options li{
  background-color: white;
  border-radius: 3px;
  padding: 10px 15px 15px 15px;

 border: solid 1.5px black;
 box-sizing: border-box;
 position: relative;

}



.adjacent-container{
  display: flex;
  align-items: center;
  gap: 3px;
  width: 220px;
  position: relative;

}

.adjacent-container i{
  color: rgb(184, 68, 39);
  margin-left: 20px;
  cursor: pointer;
 
}


#conflict-circle{
  z-index: 9;
  font-size: 10px;
  color: red;
  position: absolute;
  right: 10%;
  top: 10%;
}

.warning-box{
  height: 65px;
  width: 170px;
  position: absolute;
  right: 2.5%;
  box-shadow: 0 0 2px 1.5px red;
  background-color:rgba(231, 81, 81, 0.8);
  bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning-box p{
  font-size: 11px;
  font-weight: 400 !important;

}
.tooltip-text{
  position: absolute;
  font-size: 10px;
  color: var(--off-white);
  width: 250px;
  text-align: center;
  bottom: 19%;
  right: -105%;
  height: max-content;
  border-radius: 3px;
  opacity: 0;
  background-color: rgb(45, 45, 45, 0.8);
  transition: opacity 0.3s ease-in-out;
}

.adjacent-container i:hover + .tooltip-text {
  opacity: 1;
}

.tooltip-text-chaos{
  position: absolute;
  font-size: 10px;
  color: var(--off-white);
  top:  -100%;
  height: 15px;
  background-color: rgb(245, 74, 74);
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  transition: opacity 0.3s ease-in-out;
}

#chaos-bar i.issue:hover + .tooltip-text-chaos {
  opacity: 1;
}

.frequency-options, .actions-options{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}



.frequency-options li, .actions-options li{
  border: none;
  width: max-content;
  padding: 0;
}

.frequency-box{
  height: 20px;
  width: 110px;
  position: relative;
}

.frequency-box input{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 2px;
}

.frequency-box input:focus{
  outline: none;
}

#chaos-menu-btn{
  font-size: 18px;
}


.frequency-container{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.min-max-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


input[type='checkbox']{
  cursor: pointer;
}

.chaos-options p{
  font-weight: 600;
  text-align: center;
}

.min-max-container .frequency-box {
  width: 130px;
}




.cell > * {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.hidden {
  opacity: 0;

}

.difficulty-menu-select{
  background: none;
  padding: 0 2px;
  box-sizing: border-box;
  border: none;
  color: transparent;
  z-index: 3;
  font-size: 18px;
  display: flex;
  justify-content: center;

  position: absolute;
  width: max-content;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -moz-appearance: none;
  -webkit-appearance: none;

 
}
  .difficulty-menu-label{
    display: flex;
    align-items: center;
    gap: 5px;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;

  
  }

  .difficulty-menu-label i{
    font-size: 15px;
    color: white;

    
  }

  .difficulty-menu-label span::first-letter{
    text-transform: capitalize;
  }

.difficulty-menu-select option{
  font-size: 12px;
}

.difficulty-wrap-menu{
 position: relative;
 display: none;
  width: 80px;
  height: 30px;
  

}

#hints-bar-top{
  cursor: pointer;
  position: relative;
  display: none;
}

.hints-container-top{
  position: absolute;
  top: 2em;
  width: 100px;
  display: none;

}

.hints-container-top.active{
  position: absolute;
  top: 2em;
  width: 100px;
  display: block;

}

.hint-options-top{
  list-style: none;
}

.hint-options-top li button{
  padding: 10px 0;
  border: 1px solid black;
  height: 40px;
  border-radius: 1px;
  background: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;



}

.bottom-controls-mb{
  display: flex;
  flex-direction: column;
  gap: 30px;
}


@media only screen and (max-width: 1182px) {
  .outer-container{
    scale: 0.95;
  
    max-width: 60vh;
  }


}

@media only screen and (max-width: 1164px) {
  .outer-container{
    scale: 0.9;
  
    max-width: 60vh;
  }


}

@media only screen and (max-width: 1016px) {
  .outer-container{
    justify-content:space-between;
    max-width: 5vw;
  }
}

@media only screen and (max-width: 980px) {
  header > *{
    scale: 0.9;

  }
  .outer-container{
    margin-top: 150px;
flex-direction: column;
scale: 0.7;
gap: 30px;


  }

  .bottom-controls-mb{

    display: flex;
    flex-direction: row;
    gap: 0;
  }

  .control-adjust{
    align-items: center;
    width: 45%;
  }

  .last-move-container{
    width: 55%;
    align-items: center;
  }

  .last-move-container h1{
    font-size: 16px;
  }


  .hints-container{
    display: none;
  }

  .number-select-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: max-content;

  }

  #hints-bar-top{
    display: block;
  }



  .num-sel button, #remove-btn{
    width: 100px;
    height: auto;
    padding: 5px;


  }

  


  .control-panel{
    width: 100%;
    height: max-content;

  }

  .right-container{
    width: 600px;
    height: 500px;
    justify-content: unset;
    gap: 10px;
  }
 



}




@media only screen and (max-width: 733px) {
 .top-mode-bar{
  display: none;
 }
 .difficulty-wrap-menu{
  display: block;
 }
}



@media only screen and (max-width: 477px) {

  .outer-container{
    scale: 0.65;
    margin-top: 50px;
  }




}

@media only screen and (max-width: 455px) {

  .outer-container{
    scale: 0.6;
    margin-top: 0px;
  }




}


@media only screen and (max-width: 407px) {

  .outer-container{
    scale: 0.55;
    margin-top: -70px;
  }

header > *{
  scale: 0.7;
  
}

header{
  height:50px;
  padding: 0;
}



}