@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

:root{
    --dark-black: #101010;
    --light-text:rgb(243, 243, 243);
    --hover-purple: rgb(86, 94, 207);
    --hover-menu: var(--hover-purple);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Silkscreen';
}
html{
    background-color:rgb(15, 15, 15);
    color: rgb(249, 249, 249);
  


}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}




  
header {
    color: var(--light-sky);
    display: flex;
    background:   rgb(15, 15, 15);
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    height: 3rem;
    box-sizing: border-box;
 
  }
  
  
  .logo-content {
    display: flex;
    
    align-items: center;
    font-size: 1.5rem;

  
  }
  .logo-content h3{
  
    color: var(--light-text);
    font-size: 1.4rem;

  }

  .primary-navigation{
    width:600px;
    position: relative;
  }
  
  .primary-navigation ul{
      display: flex; 
      color: var(--light-text);
      width:600px;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      font-size: 1.25rem;
  }
  
  .primary-navigation ul li{
      cursor: pointer;
      padding: 6px;
      
      box-shadow: 2px 2px 0 0 var(--hover-purple);
      border:2px solid black;
      background-color: white;
      color: black;
      
      
  }
  
  .primary-navigation ul li:hover{
    box-shadow: 2px 2px 0 0 white;
    border: 2px solid black;
    background-color: var(--hover-purple);
    color: white;
 
  
  }

  
  .hamburger-menu{
      display: none;
  }
  
    
  






.primary-navigation ul li{
    cursor: pointer;
}



.hamburger-menu{
    display: none;
    
}

.front-container{

  height: 800px;
  overflow: hidden;


}




.front-grid{
  grid-template-columns:  minmax(550px, 1fr) 1fr;
  background-image: linear-gradient(to right, rgb(15, 15, 15) 60% ,  rgba(255, 255, 255, 0.1));
  padding: 0 0 0 40px;
  box-sizing: border-box;
  height:800px;
  display: grid;

}

.front-text-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.front-text-content{

  width: 500px;
  height: 800px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: max-content;
}

.front-text-content h1{
  font-size: 100px;
  font-weight: 400;
}

.front-container p{
  font-size: 17.5px;

}



.avatar-container{

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-left: 10px;


}

.front-container.hidden{
  display: block;
}



.avatar-container img{
  object-fit: contain;
  width: 600px;
}

#front-contact-btn{
  width: 235px;
  padding: 20px 10px 20px 10px;
  font-size: 20px;
  font-weight: 800;
  border: none;

  cursor: pointer;
  padding: 6px;
  box-shadow: 2px 2px 0 0 white;
  border:2px solid black;
  background-color:  var(--hover-purple);
  color: white;
}

#front-contact-btn:hover{

}


.main-content.hidden{
  display: block;
}
.front-socials{
  display: flex;
  gap: 25px;
  padding-left: 2.5px;
  justify-self: end;


}

#social-btn{
  font-size: 30px;
}

#social-btn:hover {
  text-shadow: 0 0 15px var(--hover-purple); 
  cursor: pointer; 
}

.languages-section{
  height: max-content;
}

.second-grid-section{
  padding: 0.8rem 2rem;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.company-img img{
  height: 200px;
  object-fit: contain;

}

.companies-container{

  display: flex;
  flex-direction: column;

}

.companies-small{

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
}

.languages-section h1{
  padding-bottom: 20px;
  font-weight: 400;

}


.progress-bars{
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style: none;
}

.bar{
  width: 500px;
  border: 0.25px solid white;
  height: 30px;
  border-radius: 5px;
  display: flex;
  max-width: 100%;
  background: var(--light-text);
}

.bar-contents{
  width: 12.5%;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 1.5%;
  font-size: 1rem;
  font-family: "raleway";

  background-color: rgb(28, 28, 28);
  min-width: 17%;
 

 
  
}

.progress-bar{
  width: 86%;
  position: relative;
  background: var(--light-text);
  border-radius: 0px 5px 5px 0px;
}

.progress{
  position: absolute;
  height: 100%;
  background: rgb(86, 94, 207); 
}

.progress-html{
  width: 90%;
}

.progress-css{
  width: 85%;
}

.progress-js {
  width: 77.5%;
}

.progress-python{
  width: 75%;
}

.progress-c{
  width: 20%;
}

.bottom-info{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media only screen and (max-width: 1000px) {
  .second-grid-section{
    grid-template-columns: unset;
    grid-template-rows: 1fr 1fr;
  }


}



@media only screen and (max-width: 1165px) {
  .front-grid{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

  } 
 
  .front-container{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

  }
  .front-grid{
   background-image: none;

  

  }

  html{

    background-image: linear-gradient(to right, rgba(147, 147, 147, 0) 40% ,  rgba(255, 255, 255, 0.1));

   
  

}

  .avatar-container{
    display: none;
  
  }

  .front-grid::before {
    content: url("/static/images/pose-self.png");
    position: absolute;
    scale: 0.65;
    right: -150px;

    opacity: 0.7;
  }

 

  .front-text-content{
    width: 100%;
    z-index: 1;
 
  

  }

  .front-text-container{
    height: 500px;
   
  }



}

@media only screen and (max-width: 500px) {
  .front-grid::before {
    left: -40px;

  }

 


}

@media only screen and (max-width: 650px) {
  .front-text-content{
    padding: 0 20px 0 0px;
    margin-top: -150px;


  }

  .front-container{
    height: 900px;
    margin-top: 0;
  }
  .front-grid{
    height: 900px;


  }
  .front-grid::before{
    content: url("/static/images/pose-self.png");
    position: absolute;
    scale: 0.65;
    right: -293px;
    opacity: 0.7;
    background: none;

}

  }

  



@media only screen and (max-width: 470px) {

  .front-text-content{


    gap: 15px;

  }

}


@media only screen and (max-width: 417px) {
  .front-text-content h1{
  font-size: 70px;
}
.front-grid::before{

  left: -120px;


}
}


/* effect-shine */
.contact-btn:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.7) 30%, #000 50%, rgba(0,0,0,.7) 70%);
    -webkit-mask-size: 200%;
    animation: shine 1s infinite;

  }
  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }


  #nav-btn {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: rgb(86, 94, 207);
        bottom: -5px;
        left: 0;
        transform-origin: center;
        transform: scaleX(0);
        transition: transform .15s ease-in ;
    }

    &:hover::before {
        transform-origin: center; 
        transform: scaleX(1);
    }
}


   
@media only screen and (max-width: 880px) {


.primary-navigation.active,
.languages-section.active,
.front-container.active {
  display: none;
}

.menu-active {
  overflow: hidden;

}

    .hamburger-menu {
      display: block;
      z-index: 5;
 

    }


  
    .primary-navigation {
      display: none;
    }
   
    .primary-navigation.active {
      display: flex;
      position: absolute;
      background-color: var(--dark-black);
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 4;
      height: 100%;
      width: 100%;
     


      
    }

    .main-content.hidden{
      display: none;
    }
    
    .front-container.hidden{
      display: none;
    }

    .projects-content.hidden{
      display: none;
  }


    .primary-navigation.active ul {
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 2.75rem;
      gap: 50px;
   
    }
  
    .hamburger-menu.active {
      color: var(--light-text);
    }
  
    .primary-navigation.active li:hover {
      color: var(--light-text);
    }
    .primary-navigation ul li {
      opacity: 0;
    }


    @keyframes slideIn {
      0% {
        opacity: 0;
        transform: translateY(-30px);
        transform: translateX(-100%);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  
    .primary-navigation ul li {
      opacity: 0;
      transform: translateY(-30px); /* Start the elements above their final position */
      padding: none !important;
      background: none;
      box-shadow:none !important;
      border:none !important;
      background-color: none !important;
      color:white !important;
    }
  
    /* Delay animation for each list item */
    .primary-navigation ul li:nth-child(1) {
      animation: slideIn 0.4s forwards 0.1s;
    }
  
    .primary-navigation ul li:nth-child(2) {
      animation: slideIn 0.5s forwards 0.2s;
    }
  
    .primary-navigation ul li:nth-child(3) {
      animation: slideIn 0.6s forwards 0.3s;
    }
  
    .primary-navigation ul li:nth-child(4) {
      animation: slideIn 0.7s forwards 0.4s;
    }
  
    /* Additional styles to create ladder steps */
    .primary-navigation ul li:last-child:before {
      height: 15px; /* Shorten the last step to make it look like a ladder */
    }
  
    /* Styles for the hamburger menu icon */
    .hamburger-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 32px;
      height: 23px;
      cursor: pointer;
    }
  
    .line {
      display: block;
      height: 4px;
      background-color: var(--light-text);
      border-radius: 2px;
      transition: transform 0.45s ease;
    }
  
    /* Animate the hamburger menu to cross */
    .hamburger-menu.active .line-1 {
      transform: translateY(9.5px) rotate(45deg);
    }
  
    .hamburger-menu.active .line-2 {
      opacity: 0;
    }
  
    .hamburger-menu.active .line-3 {
      transform: translateY(-9.5px) rotate(-45deg);
    }
  
    .primary-navigation ul li {
      position: relative;
    }

    .primary-navigation ul li:hover{
      background: none;
      background-color: none;
    }
  
    .primary-navigation ul li::after {
      content: "";
      position: absolute;
      bottom: -10%;
      left: 50%;
      width: 0;
      height: 0.35rem;
      background-color: var(--hover-menu);
      transition: width 0.3s ease, left 0.3s ease;
      transform: translateX(-50%);
    }
  
    .primary-navigation ul li:hover::after {
      width: 100%;
    }
  
}



